<nav id="main-navigation">
  <a href="{{'/' | relative_url}}" class="btn">Home</a>
  <a href="{{'/goal1/' | relative_url}}" class="btn">Goal 1</a>
  <a href="{{'/goal2/' | relative_url}}" class="btn">Goal 2</a>
  <a href="{{'/goal3/' | relative_url}}" class="btn">Goal 3</a>
  <a href="{{'/goal4/' | relative_url}}" class="btn">Goal 4</a>
  <a href="{{'/goal5/' | relative_url}}" class="btn">Goal 5</a>
  <a href="{{'/essay/' | relative_url}}" class="btn">Reflective Essay</a>
  <a href="{{'/resume/' | relative_url}}" class="btn">Resume</a>
</nav>
